html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul{
  list-style: none;
}
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/*-------RESET---------*/

  .panel.panel-default{
    position:relative;
  }
  #del{
    position: absolute;
    right:20px;
  }

  #edit{
    position: absolute;
    right:60px;
  }

  .editWrapper{
    display: inline-block;
  }


  .title{
    padding:20px;
  }

  header{
    padding:20px;
    width:100%;
    border-bottom: #ccc solid 1px;
  }

  #main{
    width: 50%;
    margin-left: 20%;

  }

  #commentsContainer{
    padding: 20px;
    margin-top: 100px;
  }

  .list-group{
    margin-bottom:0;
    margin-left: 100px;
  }

  .list-group-item{
    display: inline-block;
    width:10%;
    text-align: center;
  }

  a.list-group-item:hover{
    color:red;
  }

  .search{
  position: absolute;
  right:20px;
  top:30px;

  }

  .fa.fa-search{
    position:absolute;
    right:350px;
  }

  .hideSearch{
    position:absolute;
    right: 0;
  }


  #showSidebar{
    position: absolute;
    left: 100px;
    top:100px;
  }


  footer{
    background-color: #ccc;
    height: 100px;
    width:100%;
  }

  #menu{
    border: #ccc solid 1px;
    padding:40px;
    list-style: circle;
    position: relative;
  }

  #menu li{
    padding:20px;
    position: relative;
  }

  #menu li #date{
    position: absolute;
    right:0;
  }

  #menu li:hover{
    background-color: #00CED1;
  }

  h3{
    font-size: 30px;
    color:#008B8B;
  }

  h2{
    font-size: 20px;
    color:#008B8B;
  }


  #filter {
    position: absolute;
    right: 20px;
    top:10px;
  }

  #showSidebar{
    position: relative;
  }

  #showSidebar .fa.fa-bars{
    position: absolute;
    left:210px;
  }

  .sidebar {
    position: fixed;
    width: 300px;
    height:1000px;
    background-color: #ccc;
    border-right: black solid 1px;
    top:80px;
    left:0;

  }
