
<ol id="menu">

  <h3>Заголовок</h3>

  <li ng-repeat="chapter in $ctrlMenu.chapters | orderObjectBy:sort:reverse |filter:searchText">
    <span ng-bind="chapter.title"></span>
    <span id="date">Добавлена:{{chapter.date | date:'MM/dd/yyyy'}}</span>
  </li>

  <div id="filter">
  Сортировать по:
  <select ng-model="sort" ng-options="el for el in ['title','date']">
    <option value=""></option>
  </select>
  </div>
</ol>
