<div id="showSidebar">
  <button type="button" class="fa fa-bars" ng-click="isActive=!isActive">
  </button>
  <div class="sidebar" ng-show="isActive">
    <ul class="nav nav-pills nav-stacked">
      <h2>Навигаця по главе</h2>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
</div>
