  <div id="commentsContainer">
  <h3>Комментарии:</h3>
  <span>Всего {{$ctrl.items.length}} комментариев</span>
  <div ng-repeat="comment in $ctrl.items track by $index">
    <comment item="comment"></comment>
  </div>
    <comment-enter></comment-enter>
  </div>
