
    <div class="panel panel-default">
      <button type="button" id="del" ng-click="$ctrl.remove()">X</button>
      <button class="fa fa-pencil" type="button" id="edit" ng-click="isShow=!isShow"></button>
      <div class="panel-heading" ng-bind="$ctrl.item.author"></div>
      <div class="panel-body" id="textEdit" ng-bind="$ctrl.item.text" ng-show="!isShow"></div>

      <div  ng-show="isShow" >
        <input type="text" id="inp" value="" ng-model="$ctrl.item.text">
        <div class="editWrapper" ng-click="isShow=!isShow">
          <button type="button" name="button" ng-click="$ctrl.edit()" >Редактировать</button>
        </div>
      </div>

      <div class="">
        <button type="button" ng-click="$ctrl.plus()">+</button>
        <button type="button" ng-click="$ctrl.minus()">-</button>
        <span ng-bind="$ctrl.item.rate"></span>
      </div>

    </div>
